.projects {
}

.projects-wrap {
	gap: 16px;
}

:root {
	--border: 1px solid var(--secondary-color);
}
.project-card {
	grid-column: span 4;
	width: 100%;
}
.project-card__wrap {
	border: var(--border);
	height: 100%;
}
.project-card__top figure {
	position: relative;
	padding-top: 60%;
}
.project-card__top figure img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.project-card__skills {
	border-top: var(--border);
	border-bottom: var(--border);
	display: flex;
	flex-wrap: wrap;
}
.project-card__skills span {
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	color: var(--secondary-color);
	text-transform: uppercase;
	display: block;
	margin: 8px;
}

.project-card__details {
	padding: 16px;
}

.project-card__details h2 {
	font-weight: 500;
	font-size: 24px;
	line-height: 130%;
	margin-bottom: 16px;
}

.project-card__desc {
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	line-height: 100%;
	color: var(--secondary-color);
	margin-bottom: 16px;
}

.project-card .project-card__top figure img {
	transition: var(--transition);
	filter: saturate(0);
}
.project-card:hover .project-card__top figure img {
	transform: scale(1.1);
	transform-origin: center;
	transition: var(--transition);
	filter: none;
}

@media only screen and (max-width: 991px) {
	.project-card {
		grid-column: span 6;
	}
}
@media only screen and (max-width: 767px) {
	.project-card {
		max-width: 100%;
		grid-column: span 12;
	}
}
