.about-wrap.row {
	gap: 32px;
	align-items: center;
}
.about-wrap__left {
	grid-column: 1 / span 6;
}

.about-wrap__right {
	grid-column: 9 / span 4;
}

.about-wrap__left p {
	line-height: 26px;
	font-size: 16px;
	margin-bottom: 26px;
	color: var(--secondary-color);
}

@media only screen and (max-width: 767px) {
	.about-wrap.row {
		gap: 32px 0;
	}
	.about-wrap__left,
	.about-wrap__right {
		grid-column: span 12;
	}
}
