:root {
	--border: 1px solid var(--secondary-color);
}
.project-card {
	max-width: 33.33%;
	width: 100%;
	padding: 8px;
}
.project-card__wrap {
	border: var(--border);
}
.project-card__top figure {
	position: relative;
	padding-top: 100%;
}
.project-card__top figure img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.project-card__skills {
	border-top: var(--border);
	border-bottom: var(--border);
	display: flex;
	flex-wrap: wrap;
}
.project-card__skills span {
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	color: var(--secondary-color);
	text-transform: uppercase;
	display: block;
	margin: 8px;
}

.project-card__details {
	padding: 16px;
}

.project-card__details h2 {
	font-weight: 500;
	font-size: 24px;
	line-height: 100%;
	margin-bottom: 16px;
}

.project-card__desc {
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	line-height: 100%;
	color: var(--secondary-color);
	margin-bottom: 16px;
}
